{% extends "base.html" %}
{% block content %}

<style>
#personal-bar {
	width: {{ "%.2f"|format(user.budgets['personal']|int / my_balance|int * 100) }}%;
}

#university-bar {
	width: {{ "%.2f"|format(user.budgets['university']|int / my_balance|int * 100) }}%;
}

#spare-bar {
	width: {{ "%.2f"|format((my_balance|int - user.budgets['university']|int - user.budgets['personal']|int) / my_balance|int * 100) }}%;
}
</style>
<div class="jumbotron">
	<h1 class="display-4 text-center">My Dashboard</h1>
</div>

<div class="row mt-4 border">
	<div class="col-xs-12 col-sm-3">
		<div class="card container-border container-background">
			<div class="card-body" style="font-size:0.9rem;">
				<h3 class="text-center">Features</h3>
				<div class="list-group mt-4">
					<a href="/dashboard" class="list-group-item list-group-item-action text-large">Overview</a>
					<a href="/budgets" class="list-group-item list-group-item-action text-large active">Budgeting</a>
					<a href="/history" class="list-group-item list-group-item-action text-large">History</a>
					<a href="/settings" class="list-group-item list-group-item-action text-large">Settings</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9">
		<div id="main-dashboard-body" >
			<div class="container-border">
				<div class="card card-body bg-secondary" style="min-height:50%">
					<table width="100%">
						<thead>
							<th width="10%"></th>
							<th width="80">
								<h2 class="text-center">Budgeting</h2>
							</th>
							<th width="10%"></th>
						</thead>
						<tbody>
							<td></td>
							<td>
								<h3 style="text-align: center;">Balance: £{{ my_balance }}</h3>
								<br><br>
								<h3 style="text-align: center;">University Budget Prediction of Total Balance: £{{ "%.2f"|format(user.budgets['university']) }}</h3>
								<div id="university-bar" style="background-color: blue; height:5%">
									<h3 style="color: black;">{{ "%.2f"|format(user.budgets['university']|int / my_balance|int * 100) }}%</h3>
								</div>
								<h3 style="text-align: center;">Personal Budget Prediction of Total Balance: £{{ "%.2f"|format(user.budgets['personal']) }}</h3>
								<div id="personal-bar" style="background-color: red; height:5%">
									<h3 style="color: black;">{{ "%.2f"|format(user.budgets['personal']|int / my_balance|int * 100) }}%</h3>
								</div>
								<br><br>
								<h3 style="text-align: center;">Spare Money in Balance: £{{ "%.2f"|format(my_balance|int - user.budgets['university']|int - user.budgets['personal']|int) }}</h3>
								<div id="spare-bar" style="background-color: green; height:5%">
									<h3 style="color: black;">{{ "%.2f"|format((my_balance|int - user.budgets['university']|int - user.budgets['personal']|int) / my_balance|int * 100) }}%</h3>
								</div>


								</td>
							<td></td>
						</tbody>
					</table>
				</div>
				<br><br>
				<div class="text-center">
					<a class="btn btn-warning btn-sm" href="/setUniversityBudget">Set University Budget</a>
					<a class="btn btn-warning btn-sm" href="/setPersonalBudget">Set Personal Budget</a>
				</div>
				<br><br>
			</div>
		</div>
	</div>
</div>
{% endblock %}
