{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
	<h1 class="display-4 text-center">My Dashboard</h1>
</div>

<div class="row mt-4 mb-4 border">
	<div class="col-xs-12 col-sm-3">
		<div class="card container-border container-background">
			<div class="card-body" style="font-size:0.9rem;">
				<h3 class="text-center">Features</h3>
				<div class="list-group mt-4">
					<a href="/dashboard" class="list-group-item list-group-item-action text-large active">Overview</a>
					<a href="/accounts" class="list-group-item list-group-item-action text-large">Accounts</a>
					<a href="/history" class="list-group-item list-group-item-action text-large">History</a>
					<a href="/settings" class="list-group-item list-group-item-action text-large">Settings</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9">
		<div id="main-dashboard-body" >
			<div class="container-border">
				<div class="card card-body bg-secondary" style="height:50%">
					<h2 class="text-center">Overview</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
