{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
	<h1 class="display-4 text-center">My Dashboard</h1>
</div>

<div class="row mt-4 border" style="display:flex; flex-wrap:wrap; height:600px">
	<div class="col-md-3">
		<div class="card container-border container-background">
			<div class="card-body" style="font-size:0.9rem;">
				<h3 class="text-center">Features</h3>
				<div class="list-group mt-4">
					<a href="#" class="list-group-item list-group-item-action text-large active">Overview</a>
					<a href="#" class="list-group-item list-group-item-action text-large">Accounts</a>
					<a href="#" class="list-group-item list-group-item-action text-large">History</a>
					<a href="#" class="list-group-item list-group-item-action text-large">Settings</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9 container-border">
		<div class="card card-body bg-secondary" style="height:100%">
			<h2>Something!!!!</h2>
      {% for balance in balance_history %}
      <span style="color: red;">£{{ balance }}</span><br>
      {% endfor %}
		</div>
	</div>
</div>

{% endblock %}
