{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
	<h1 class="display-4 text-center">My Dashboard</h1>
</div>

<div class="row mt-4 mb-4 border">
	<div class="col-xs-12 col-sm-3">
		<div class="card container-border container-background">
			<div class="card-body" style="font-size:0.9rem;">
				<h3 class="text-center">Features</h3>
				<div class="list-group mt-4">
					<a href="/dashboard" class="list-group-item list-group-item-action text-large active">Overview</a>
					<a href="/accounts" class="list-group-item list-group-item-action text-large">Accounts</a>
					<a href="/history" class="list-group-item list-group-item-action text-large">History</a>
					<a href="/settings" class="list-group-item list-group-item-action text-large">Settings</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9">
		<div id="main-dashboard-body" >
			<div class="container-border">
				<div class="card card-body bg-secondary text-center" style="min-height:100%">
					<h2>Overview</h2>

					<p class="text-left h4 pl-3">Balance: {{ my_balance }}</p>
					<img src="/dashboard_pie_chart.png">
					<img src="/dashboard_basic_graph.png" onerror="this.src='
					https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=
					8&ved=2ahUKEwiDl7aJ4IHmAhVBQBoKHZOOBJ4QjRx6BAgBEAQ&url=https%3A%2F%2Fetc.usf.edu
					%2Fclipart%2F41700%2F41755%2Ffc_dnexists_41755.htm&psig=AOvVaw2amIXrgemGZPeDnsnSZ9K9
					&ust=1574647177353218'">
					<div><a class="btn btn-success btn-sm" href="/add">Add Transaction</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
