{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="text-align:center">
	<h1>Whatever the Name Is</h1>
</div>

<h2 style="text-align: center;">This site is designed to make your university life easier!</h2>
<ul style="align-self: center;">
	<li style="align-self: center;">Use our custom-designed tools to keep accurate track of your money across all accounts</li>
	<li style="align-self: center;">Set yourself independent budgets for home- and university-related payments.</li>
	<li style="align-self: center;">Know your status in real-time at a glance with our visual statistics tools.</li>
</ul>

<table width="90%" style="align-self: center">
	<tr>
		<td width="10%"></td>
		<td width="35%">
			<a href="login.html"><div class="jumbotron" style="text-align:center;" width="100%" height="30%"><h2>Login</h2></div></a>
		</td>
		<td width="10%"></td>
		<td width="35%">
			<a href="register.html"><div class="jumbotron" style="text-align:center; background-color: rgb(189, 252, 174);" width="100%" height="30%"><h2>Register</h2></div></a>
		</td>
		<td width="10%"></td>
	</tr>
</table>

{% endblock %}
