{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="text-align:center">
	<h1>Whaterver the Name Is</h1>
</div>

<table width="90%" style="align-self: center">
	<tr>
		<td width="45%">
			<a href="login.html"><button width="100%" height="30%" style="color: grey;">Login</button></a>
		</td>
		<td width="10%"></td>
		<td width="45%">
			<a href="register.html"><button width="100%" height="30%" style="color: grey;">Register</button></a>
		</td>
	</tr>
</table>

{% endblock %}
